@page
@model SusGalerie.Pages.Files.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StoredFile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StoredFile.Id" />
            <div style="display:none;" class="form-group">
                <label asp-for="StoredFile.UploaderId" class="control-label"></label>
                <input asp-for="StoredFile.UploaderId" class="form-control" />
                <span asp-validation-for="StoredFile.UploaderId" class="text-danger"></span>
            </div>
            <div style="display:none;" class="form-group">
                <label asp-for="StoredFile.UploadedAt" class="control-label"></label>
                <input asp-for="StoredFile.UploadedAt" class="form-control" />
                <span asp-validation-for="StoredFile.UploadedAt" class="text-danger"></span>
            </div>
            <div style="display:none;" class="form-group">
                <label asp-for="StoredFile.OriginalName" class="control-label"></label>
                <input asp-for="StoredFile.OriginalName" class="form-control" />
                <span asp-validation-for="StoredFile.OriginalName" class="text-danger"></span>
            </div>
            <div style="display:none;" class="form-group">
                <label asp-for="StoredFile.ContentType" class="control-label"></label>
                <input asp-for="StoredFile.ContentType" class="form-control" />
                <span asp-validation-for="StoredFile.ContentType" class="text-danger"></span>
            </div>
            <div style="display:none;" class="form-group">
                <label asp-for="StoredFile.DateTaken" class="control-label"></label>
                <input asp-for="StoredFile.DateTaken" class="form-control" />
                <span asp-validation-for="StoredFile.DateTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoredFile.Title" class="control-label"></label>
                <input asp-for="StoredFile.Title" class="form-control" />
                <span asp-validation-for="StoredFile.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoredFile.Description" class="control-label"></label>
                <input asp-for="StoredFile.Description" class="form-control" />
                <span asp-validation-for="StoredFile.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoredFile.Rows" class="control-label"></label>
                <input asp-for="StoredFile.Rows" class="form-control" />
                <span asp-validation-for="StoredFile.Rows" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoredFile.Columns" class="control-label"></label>
                <input asp-for="StoredFile.Columns" class="form-control" />
                <span asp-validation-for="StoredFile.Columns" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="StoredFile.Public" /> @Html.DisplayNameFor(model => model.StoredFile.Public)
                </label>
            </div>
            <div style="display:none;" class="form-group">
                <label asp-for="StoredFile.GalleryId" class="control-label"></label>
                <select asp-for="StoredFile.GalleryId" class="form-control" asp-items="ViewBag.GalleryId"></select>
                <span asp-validation-for="StoredFile.GalleryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-route-id="@Model.StoredFile.GalleryId" asp-page="../Images">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}